<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Timer.Coffee.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0.1.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>654AD20C6B3F1B78535929FD16C580A41D9366CB</string>
				<key>dateExpires</key>
				<string>18.05.2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>654AD20C6B3F1B78535929FD16C580A41D9366CB</string>
						<key>dateExpires</key>
						<string>18.05.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9YGUG9LDA</string>
						<key>name</key>
						<string>Anton Karliner</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>654AD20C6B3F1B78535929FD16C580A41D9366CB</string>
						<key>dateExpires</key>
						<string>18.05.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9YGUG9LDA</string>
						<key>name</key>
						<string>Anton Karliner</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>654AD20C6B3F1B78535929FD16C580A41D9366CB</string>
						<key>dateExpires</key>
						<string>18.05.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9YGUG9LDA</string>
						<key>name</key>
						<string>Anton Karliner</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>654AD20C6B3F1B78535929FD16C580A41D9366CB</string>
						<key>dateExpires</key>
						<string>18.05.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9YGUG9LDA</string>
						<key>name</key>
						<string>Anton Karliner</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M9YGUG9LDA.timer.coffee</string>
				<key>com.apple.developer.team-identifier</key>
				<string>M9YGUG9LDA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2ae3a990-e6ef-4496-827d-58b6f31a26cf</string>
				<key>dateExpires</key>
				<string>18.05.2024</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: timer.coffee</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M9YGUG9LDA</string>
				<key>name</key>
				<string>Anton Karliner</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.0</string>
		</dict>
	</array>
</dict>
</plist>
